@using Nop.Web.Areas.Admin.Models.Questionnaire
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuestionnaireProductModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Questionnaires").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Steps");
}
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="SelectedProductId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="SelectedProductId" asp-items="@Model.ProductDDL" />
                    <span asp-validation-for="SelectedProductId"></span>
                </div>
            </div>
            <div class="form-group row d-none" id="erroSection">
                <div class="col-md-3">
                    <nop-label asp-for="SelectedErrorId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="SelectedErrorId" asp-items="@Model.ErrorDDL" />
                    <span asp-validation-for="SelectedErrorId"></span>
                </div>
            </div>
            <div class="form-group row d-none" id="stepContent">
                <div class="col-12" id="title"></div>
                <div class="col-12 d-none" id="optionsGroup">
                    <div class="row">
                        <div class="col-6">
                            <input name="optionss" id="yes" type="radio" value="Yes">@T("Common.Yes")
                        </div>
                        <div class="col-6">
                            <input name="optionss" id="no" type="radio" value="No">@T("Common.No")
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row d-none" id="showNextStep">
                <button class="btn btn-success">@T("Pager.Next")</button>
            </div>
        </div>
    </div>
</section>
@*<div class="content-wrapper">
    <div class="row">
        <div class="col-6">
            <nop-select asp-for="SelectedProductId" asp-items="@Model.ProductDDL" />
        </div>
        <div id="erroSection" class="col-6 d-none">
            <nop-select asp-for="SelectedErrorId" asp-items="@Model.ErrorDDL" />
        </div>
    </div>
    <div id="stepContent" class="row d-none">
        <div class="col-12" id="title">
        </div>
        <div id="optionsGroup" class="col-12 d-none">
            <div class="row">
                <div class="col-6">
                    <input name="optionss" id="yes" type="radio" value="Yes">@T("Common.Yes")
                </div>
                <div class="col-6">
                    <input name="optionss" id="no" type="radio" value="No">@T("Common.No")
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-none" id="imageSection">
                    <img id="ImageURL" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="showNextStep" class="col-12 d-none">
            <button class="btn btn-success">@T("Pager.Next")</button>
        </div>
    </div>

</div>*@
<script>
    $(document).ready(function () {
        var yesStepId = 0;
        var noStepId = 0;
        var nextStepId = 0;
        var perviousStepId = 0;
        $('#@Html.IdFor(model => model.SelectedProductId)').change(function () {
            $('#erroSection').addClass('d-none');
            $('#stepContent').addClass('d-none');
            var selectedItem = parseInt($(this).val());
            var ddlError = $('#@Html.IdFor(model => model.SelectedErrorId)');
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@(Url.Action("GetErrorDDLByProductId", "Questionnaire"))',
                data: {
                    'productId': selectedItem
                },
                success: function (data, textStatus, jqXHR) {
                    ddlError.html('');
                    if (data.length > 1) {
                        $.each(data, function (id, option) {
                            ddlError.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        $('#erroSection').removeClass('d-none');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#states-alert').click();
                }
            });
        });
        $('#@Html.IdFor(model => model.SelectedErrorId)').change(function () {
            $('#stepContent').addClass('d-none');
            $('#showNextStep').addClass('d-none');
            var selectedItem = parseInt($(this).val());
            var productId = parseInt($('#@Html.IdFor(model => model.SelectedProductId)').val());
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@(Url.Action("GetStepByErrorId", "Questionnaire"))',
                data: {
                    'producterrorStepId': selectedItem
                },
                success: function (data, textStatus, jqXHR) {
                    if (data == null) {
                        $('#stepContent').addClass('d-none');
                    } else {
                        if (data.YesImageURL !== null) {
                            $('#ImageURL').attr("src", data.ImageURL);
                            $('#imageSection').removeClass("d-none");
                        }
                        $('#stepContent').removeClass('d-none');
                        $('#title').text(data.Title)
                        $("input:radio").prop('checked', false);
                        if (data.YesId == null || data.NoId == null) {
                            $('#optionsGroup').addClass('d-none');
                            $('#showNextStep').addClass('d-none');
                        } else {
                            yesStepId = data.YesId;
                            noStepId = data.NoId;
                            $('#optionsGroup').removeClass('d-none');
                            $('#showNextStep').removeClass('d-none');
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#states-alert').click();
                }
            });
        });
        $('#showNextStep').bind('click', function () {
            var option = $("input[name='optionss']:checked").val();
            if (option !== undefined) {
                if (option == 'No') {
                    nextStepId = noStepId;
                } else {
                    nextStepId = yesStepId;
                }
                var postData = {
                    stepId: nextStepId
                };
                addAntiForgeryToken(postData);
                $.ajax({
                    cache: false,
                    url: "@Url.Action("GetStepById", "Questionnaire")",
                    type: "POST",
                    data: postData,
                    dataType: "json",
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(jqXHR));
                    },
                    success: function (data, textStatus, jqXHR) {
                        $('#title').text(data.Title);
                        $("input:radio").prop('checked', false);
                        if (data.YesId == null && data.NoId == null) {
                            $('#optionsGroup').addClass('d-none');
                            $('#showNextStep').addClass('d-none');
                        } else {
                            yesStepId = data.YesId;
                            noStepId = data.NoId;
                            $('#optionsGroup').removeClass('d-none');
                        }
                    }
                });
            } else {
                alert('must select yes or no');
            }
        });
        $('#showPreviousStep').bind('click', function () {
            var postData = {
                stepId: perviousStepId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                url: "@Url.Action("GetStepById", "Questionnaire")",
                type: "POST",
                data: postData,
                dataType: "json",
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(JSON.stringify(jqXHR));
                },
                success: function (data, textStatus, jqXHR) {
                    $('#title').text(data.Title);
                    $("input:radio").prop('checked', false);
                    perviousStepId = data.Id;
                    alert("next =" + nextStepId + ", perv =" + perviousStepId)
                    if (perviousStepId == nextStepId) {
                        $('#showPreviousStep').addClass('d-none');
                    }
                    if (data.YesId !== null) {
                        $('#showNextStep').removeClass('d-none');
                    }
                }
            });
        });
    });
</script>